<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/dist/vendors.css' /> -->
    <!-- Librerías de Terceros-->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/assets/css/styles.css' />
    <script>
      const STATIC_URL = '/';
      const BASE_URL = 'http://localhost:3000/';
      const CSRF_KEY = 'key'; 
      const CSRF = 'alsdjflkadsjflkasdjflk';
    </script>
  </head>
  <body>   
    hola mundo
    <script src="/assets/js/app.js"></script>
  </body>
</html>
